/* reset */
* {
  margin: 0;
  padding: 0;
}
/* end reset */

/* Fonts */

/* Diavlo by Jos Buivenga */
/* https://www.exljbris.com/diavlo.html */
@font-face {
  font-family: Diavlo;
  src: url('./Diavlo_BLACK.otf');
}
/* end fonts */

body {
  font-family: Helvetica, Arial, sans-serif;
}


/* global classes */
.header {
  font-family: Diavlo, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  font-size: 48pt;
}
.invisible {
  display: none;
}
.input {
  margin: 10px 0;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid;
  box-sizing: content-box;
  background: none;
}
/* .input:hover, input:focus {
  border: 1px solid;
} */
.fl {
  float: left;
}
.rounded {
  border-radius: 5px;
}
.shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.fa {
  flex: auto;
}
fi {
  flex: initial;
}
.f100 {
  flex: 100%;
}
.fg2 {
  flex-grow: 2;
}
.fs0 {
  flex-shrink: 0;
}
.w100 {
  width: calc(100% - 20px);
}
.clearfix {
  clear: both;
}
/* end global classes */